# Node modules
node_modules/

# Logs
logs/
*.log

# Test coverage
coverage/

# dotenv environment file
.env

# Sequelize config file
config/config.json

# SQLite database file (if used)
db.sqlite

# Ignore local configuration
config/local.json

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/

# Dependency directories
joi-validation-errors/

# Environment variables file
.env
